:root{
    --bg: #000814;
    --p1: #001d3d;
    --p2: #003566;
    --p3: #ffc300;
    --p4: #ffd60a;
    --text: white;
}

html{
    overflow: hidden;
    background-color: var(--bg);
    

.hero{
    min-height: 100vh;
    
}

.content{
    /* background-color: var(--bg); */
    /* width: 100dvh; */
    /* height: 50dvh; */
    

    border-radius: 24px;
}

.teks{
    color: var(--text) !important;
}

.gambar{
    width: 10dvh;
}

/* css countdown */

    .custom-countdown-theme {
        /* Main countdown container */
        
        background-color: var(--p4);
        border-radius: 16px;
        min-width: 30dvh;

    }

    .custom-countdown-theme > .simply-section {
        /* Individual time unit blocks */
        /* background-color: rgb(255, 255, 255); */
        text-align: center;
        /* height: 5dvh; */
        padding: 12px;
        /* border-radius: 16px; */
        /* box-shadow: 0px 6px 6px rgba(2, 0, 31, 0.5); */
        
        
    }

    .custom-countdown-theme > .simply-section > div {
        /* Inner container for amount and word */
    }

    .custom-countdown-theme > .simply-section .simply-amount,
    .custom-countdown-theme > .simply-section .simply-word {
        /* Common styles for numbers and labels */
        font-weight: bold;
        color: var(--p2);
        display: flex;
        flex-direction: column;
    }

    .custom-countdown-theme > .simply-section .simply-amount {
        /* Number display */           
        /* color: var(--);  */
    }

    .custom-countdown-theme > .simply-section .simply-word {
        /* Label text */              
        /* color: var(--); */
    }  
                        