:root{
    --bg: #1c1b1b;
    --primary: #cab049;
    --text: white;
    --muted: #363636;
    --muted-text: rgb(167, 167, 167);
}


.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  text-shadow: 
    3px 3px 12px var(--primary);
}

.forum-regular {
  font-family: "Forum", serif;
  font-weight: 400;
  font-style: normal;
}

.cutive-mono-regular {
  font-family: "Cutive Mono", monospace;
  font-weight: 400;
  font-style: normal;
}


html{
    overflow: hidden;
    background-color: var(--bg);
    margin: 0px;
    padding: 0px;
    
}

.hero{
    min-height: 100vh;
    
}

.content{
    /* background-color: var(--bg); */
    /* width: 100dvh; */
    /* height: 50dvh; */
    

    border-radius: 24px;
}

.glowing{
    text-shadow: 
    0px 0px 30px var(--primary) !important;
}

.teks-shadow{
    text-shadow: 
    2px 2px 0px black !important;
}

.teks{
    color: var(--text) !important;
}

audio{
    display: none;
}

.bxf, .bx{
    color: var(--primary) !important;
    text-shadow: 
    0 0 100px var(--primary);
}

strong{
    color: var(--primary);
    font-weight: bolder;
    /* font-family: "Inter", sans-serif; */
}

.gambar{
    width: 10dvh;
    
}

.teks-atas{
    color: var(--muted-text) !important;
    font-size: 1rem !important;
}

.teks-countdown{
    
    border-top: 4px solid var(--primary);
    color: var(--muted-text);
}

.teks-warna{
    color: var(--primary);
}

.ucapan{
    width: 40dvh;
}

/* css countdown */

    .custom-countdown-theme {
        /* Main countdown container */
        
        background-color: var(--p4);
        /* border-radius: 16px; */
        min-width: 30dvh;
        border-bottom: 4px solid var(--primary);
        margin-top: 0px;
        border-top: 4px solid var(--primary);

    }

    .custom-countdown-theme > .simply-section {
        text-align: center;
        padding: 6px;
        width: 8dvh;      
    }

    .custom-countdown-theme > .simply-section > div {
        /* Inner container for amount and word */
        /* border-left: thin solid var(--muted); */
        /* border-right: thin solid var(--muted); */
        /* padding: 6px; */
    }

    .custom-countdown-theme > .simply-section .simply-amount,
    .custom-countdown-theme > .simply-section .simply-word {
        /* Common styles for numbers and labels */
        font-weight: bold;
        
        display: flex;
        flex-direction: column;
    }

    .custom-countdown-theme > .simply-section .simply-amount {
        /* Number display */           
        /* color: var(--);  */
        color: var(--primary);
        font-size: 2rem;
        font-weight: normal;
        font-family: "Inter", sans-serif;
        
    }

    .custom-countdown-theme > .simply-section .simply-word {
        /* Label text */              
        color: var(--muted-text);
        /* font-family: "Cutive Mono", monospace; */
        font-family: "Forum", serif;
        font-weight: normal;
    }